.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

output/data/raw/*
!output/data/raw/.gitkeep
output/data/clean/*
!output/data/clean/.gitkeep
output/data/processed/*
!output/data/processed/.gitkeep
output/data/quality/*
!output/data/quality/.gitkeep

output/charts/legal_complexity/*
!output/charts/legal_complexity/.gitkeep
output/charts/administrative_procedures/*
!output/charts/administrative_procedures/.gitkeep
output/charts/territorial_comparisons/*
!output/charts/territorial_comparisons/.gitkeep
output/charts/international_comparisons/*
!output/charts/international_comparisons/.gitkeep
